//----------------------------------------------------------------
//
//  使用モジュール定義
//
//----------------------------------------------------------------
// 基本モジュール
$base-font: true; //特集用フォントサイズ＆行間設定
$base-modules: true; //基本モジュール設定

$unique-modules-video: true; // 動画埋め込みコンポーネント（class="video"）



//----------------------------------------------------------------
//
//  カラー設定
//
//----------------------------------------------------------------
$hdg-tag: #333; //.hdg-l2,.hdg-l3内タグ背景色


//----------------------------------------------------------------
//
//  幅設定
//
//----------------------------------------------------------------
//----------------------------------------------------------------
//  .動画の幅設定
//----------------------------------------------------------------
$video-width-L: 960px;
$video-width-M: 800px;
$video-width-S: 530px;

$video-width: $video-width-M; //幅を変更したい場合は接尾のL,M,Sを変更してください



//----------------------------------------------------------------
//
//  ブレークポイント設定
//
//----------------------------------------------------------------
$lyt-cont:960px;
$bp-pc:$lyt-cont;
$bp-full:$bp-pc;
$bp-tab:720px;
$bp-sp:550px;



//----------------------------------------------------------------
//
//  Mixin
//
//----------------------------------------------------------------
//----------------------------------------------------------------
// メディアクエリー記述
//----------------------------------------------------------------
@define-mixin breakpoint $point{
  @if $point == full{
    @media screen and (max-width:calc($bp-full + 40px)){
      @mixin-content;
    }
  }

  @else if $point == pc{
    @media screen and (max-width:calc($bp-pc - 1px)){
      @mixin-content;
    }
  }

  @else if $point == tab{
    @media screen and (max-width:$bp-tab){
      @mixin-content;
    }
  }

  @else if $point == sp{
    @media screen and (max-width:$bp-sp){
      @mixin-content;
    }
  }

  @else{
    @media screen and (max-width:$point){
      @mixin-content;
    }
  }
}


//----------------------------------------------------------------
// clearfix
//----------------------------------------------------------------
@define-mixin clearfix{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

