/* inportは拡張子までを指定する */
.inclulde-class{
font-size:10px;
}

/* 変数を使う場合 */

.search{
display:-ms-grid;
display:grid;
padding-left:16px;
font-size:30px;
}

.search::after{
content:"";
background-url:url(/icons/search.png);
}

.search:before,
.search:after{
display:table;
content:"";
}

.search:after{
clear:both;
}

.search-inner{
font-size:20px;
}

.search .sup{
background:green;
}

